.button{
  width: 29.8rem;
  height: 5.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 2.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  @include centered;

  &__border{
    &-5{
      border-radius: .5rem;
    }
  }

  &:hover{
    background: #E47209;
  }
  &:active{
    background: #4B9200;
  }
  &.disable{
    background: #929699;
  }

  &__white{
    text-transform: capitalize;
    background: #F1F3F2;
    border: .1rem solid #000;
    border-radius: .5rem;
    width: 12.9rem;
    height: 4.2rem;
    color: #000;

    &:hover{
      background: #F1F3F2;
      color: rgba(75, 146, 0, 1);
      border: .1rem solid #4B9200;
    }

    &:active{
      color: rgba(75, 146, 0, 1);
      border: .1rem solid #4B9200;
    }
  }
}