.donat{
  padding-top: 4rem;
  padding-bottom: 18rem;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);


  &__title{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 1rem;
    &-3{
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 130%;
      color: #FE9013;
      margin-bottom: 6rem;
    }
  }
  &__text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 4rem;
    &2{
      font-size: 1.6rem;
      line-height: 140%;
      text-align: center;
      color: #333B41;
    }
  }

  &__info{
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 4rem 9.2rem 6.1rem 9.2rem;
    &-title{
      font-size: 4.8rem;
      line-height: 120%;
      text-align: center;
      color: #FE9013;
      margin-bottom: 2rem;
    }

    &-description{
      font-size: 2.4rem;
      line-height: 120%;
      color: #333B41;
      margin-bottom: 6rem;
    }
    &-pick-feed-friend{
      display: flex;
      justify-content: center;
    }

    &-day{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 8.9rem;

      &:before{
        content: '';
        background-image: url("../img/donate/x.svg");
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        right: -2.4rem;
      }
    }

    &-number{
      font-weight: 500;
      font-size: 7.2rem;
      line-height: 80%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 1.1rem;
    }

    &-img{
      width: 28.4rem;
      height: 24.6rem;
    }
  }

  &__amount{
    &-title{
      font-size: 1.6rem;
      line-height: 140%;
      color: #000000;
      margin-bottom: 1rem;
    }
    &-progress_bar{
      margin-bottom: 5rem;
    }

    &-form{
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrap{
        display: flex;
        align-items: center;

        .form_radio{
          font-size: 1.6rem;
          line-height: 140%;
          &:first-child{
            margin-right: 5rem;
          }
        }

        .form_radio input[type=radio]{
          display: none;
        }

        .form_radio label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          margin-right: 0;
          line-height: 18px;
          user-select: none;
        }
        .form_radio label:before {
          content: "";
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          left: 0;
          bottom: 1px;
          background: url(../img/donate/radio.svg) 0 0 no-repeat;
        }

        /* Checked */
        .form_radio input[type=radio]:checked + label:before {
          content: "";
          display: inline-block;
          width: 1.7rem;
          height: 1.7rem;
          position: absolute;
          left: 0;
          bottom: 1px;
          background: url(../img/donate/checked.svg) 0 0 no-repeat;
        }
      }
    }

    &-input{
      position: relative;
    }

    &-link{
      font-size: 1.6rem;
      line-height: 140%;
    }

    .centered{
      margin-top: 3rem;
    }
  }
}