.header{
  background-color: #000;

  .container{
    display: flex;
    height: 8rem;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo{
    position: relative;
    @include centered;
    width: 8.2rem;
    height: 5.21rem;
    color: #fff;

    font-size: 1.90145rem;
    line-height: 120%;
    border: .118841rem solid #FFFFFF;
    text-align: center;
    margin-right: 6.3rem;
    &:before{
      content: '';
      display: block;
      width: 1.2rem;
      height: 2rem;
      position: absolute;
      background-image: url("../img/bambook.svg");
      background-repeat: no-repeat;
      background-size: contain;
      left: .95rem;
      bottom: .7rem;

    }
  }

  //&__info{
  //  margin-left: auto;
  //  color: #fff;
  //  font-weight: 500;
  //  font-size: 16px;
  //  line-height: 140%;
  //}
}

@media (max-width: 40em) { //640
  .header{
    .container{
      height: 6.8rem;
    }
    &__logo{
      width: 9.386rem;
      height: 5.807rem;
      font-size: 2.45798rem;
      border: none;
      &:before{
        width: 1.6rem;
        height: 2.6rem;
        left: .8rem;
      }
    }

    //&__info {
    //  display: none;
    //}
  }

}