.input{
  &__text{
    width: 26.8rem;
    height: 5.4rem;
    padding-left: .8rem;
    padding-right: 3rem;
    border: .1rem solid #929699;
    background: transparent;
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 2.5rem;
  }
}