.slider{
  &__arrow{
    position: absolute;
    @include centered;
    width: 6.2rem;
    height: 6.2rem;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    transform: translate(0, -50%);
    top: 50%;


    &-prev {
      left: -8.2rem;
    }

    &-next {
      right: -8.2rem;
    }

    & img{
      width: 1.6rem;
      height: .8rem;
    }
  }



}