.slider{
  &__arrow{
    position: absolute;
    @include centered;
    width: 6.2rem;
    height: 6.2rem;
    background: #F9804B;
    border-radius: 50%;
    transform: translate(0, -50%);
    top: 50%;
    transition: background-color .5s;

    &:hover{
      background: #4B9200;
    }


    &-prev {
      left: -8.2rem;
    }


    &-next {
      right: -8.2rem;
    }

    & img{
      width: 1.6rem;
      height: .8rem;
    }
  }



}